html,
body {
  padding: 0;
  margin: 0; 
  color: #72737e;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: $darkBlue;
  font-weight: 600;
}

// Buttons
.button {
  outline: none;
  border: none;

  &__cta {
    background-image: linear-gradient(to left, $brightCyan, $limeGreen);
    color: $white;
    padding: 10px 30px;
    transition: all 0.5s;

    &:hover {
      background-image: linear-gradient(to left, hsla(192, 70%, 51%, 0.7), hsla(136, 65%, 51%, 0.7));
      transition: all 0.5s;
    }
  }
}